:where(form) {
  :where(fieldset) {
    border: 1px dotted var(--ink-subtle);
    border-radius: var(--radius-2);
    padding: var(--space-s);

    :where(legend) {
      font-weight: var(--weight-normal);
      padding-inline: 1ch;
    }
  }

  :where(label, .label) {
    text-transform: capitalize;
  }

  /* ~ .form-controls */
  :has(> input, > textarea, > select) {
    display: block;
    position: relative;
    display: flex;
    gap: var(--space-xs);
    justify-content: flex-start;
    align-items: center;

    &:not(:first-of-type) {
      margin-block-start: var(--space-xs);
    }
  }

  :where(
      input:not([type="checkbox"], [type="radio"]),
      textarea,
      select,
      button,
      [type="button"],
      [role="button"]
    ) {
    padding: var(--space-3xs) var(--space-2xs);
    line-height: var(--line-height);
    font-size: var(--step--1);
    background-color: transparent;
    color: var(--ink);
    border: 1px solid var(--ink-subtle);
    border-radius: var(--radius-1);
  }

  :where(button, [type="button"], a.button, a[role="button"]) {
    display: inline-block;
    font-size: var(--step--1);
    text-transform: capitalize;
    transition: background-color 0.2s linear;
    background-color: var(--paper-subtle);
    min-width: 5em;

    &:where(:hover, :active, :focus) {
      background-color: var(--paper);
    }

    &:where(.primary, [type="submit"]) {
      background-color: var(--brand-subtle);
      color: var(--stone-0);

      &:where(:hover, :focus, :active) {
        background-color: var(--brand);
      }
    }

    &:where(a.button, a[role="button"]) {
      display: inline-block;
      border-color: transparent;
      background-color: transparent;
      color: var(--link);
      font-size: var(--step-0);

      &:where(:hover, :active, :focus) {
        color: var(--link-hover);
        background-color: transparent;
      }
    }

    &:where(:not(:first-of-type)) {
      margin-inline-start: 1ch;
    }
  }
}

/* checkbox */
input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.2ch solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid var(--form-control-focus);
  outline-offset: max(2px, 0.15em);
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}

/* Radio Buttons */
input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.2ch solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:focus {
  outline: max(2px, 0.15em) solid var(--form-control-focus);
  outline-offset: max(2px, 0.15em);
}

/* Text-like inputs */
.input {
  font-size: 16px;
  /* Capitalized to prevent Sass */
  /* thinking it's the Sass max() */
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  /* background-color: #fff; */
  border: 2px solid var(--input-border);
  border-radius: 4px;
  transition: 180ms box-shadow ease-in-out;
}

.input:focus {
  border-color: hsl(
    var(--input-focus-h),
    var(--input-focus-s),
    var(--input-focus-l)
  );
  box-shadow: 0 0 0 3px
    hsla(
      var(--input-focus-h),
      var(--input-focus-s),
      calc(var(--input-focus-l) + 40%),
      0.8
    );
  outline: 3px solid transparent;
}

.input:not(textarea) {
  line-height: 1;
  height: 2.25rem;
}

input[type="file"] {
  font-size: 0.9em;
  padding-top: 0.35rem;
}

textarea.input {
  resize: vertical;
}

.input[readonly] {
  border-style: dotted;
  cursor: not-allowed;
  color: var(--ink-2);
}

.input[disabled] {
  --input-border: var(--ink-2);

  background-color: var(--paper-subtle);
  cursor: not-allowed;
}

label {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1;
}

.input + label {
  margin-top: 2rem;
}

.input-group {
  margin-block: var(--space-s);
}
