#site-header {
  --hero-url: url('https://images.unsplash.com/photo-1463134836706-8bcc60f7d78b?q=80&w=2940&auto=format&fit=crop');

  position: relative;
  padding-block: var(--space-m-l) var(--space-l-xl);
  margin-block-end: var(--space-l-xl);
  /* clip-path: var(--angle-clip-path); */
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  background-color: var(--brand-shade);
  background-image: var(--hero-url);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 55%;
  background-attachment: local;
  color: white;

  &::after {
    position: absolute;
    content: '';
    height: 0;
    bottom: -1px;
    right: 0;
    left: 0;
    border: 0 solid transparent;

    /* 100vw here is slightly larger than the actual viewport (about 2px 🤷) */
    border-inline-start: 99vw solid transparent;
    border-block-end: var(--space-m-l) solid var(--paper);
    z-index: var(--layer-1);
  }

  .u-container {
    width: 100%;
  }

  .site-title {
  font-size: var(--step-3);
    font-weight: var(--weight-semibold);
    color: unset;
    text-shadow: 0 0 0.5ch hsl(0 0 0 / 0.55);
    margin: 0;

    small {
      color: inherit;
    }

    a {
      text-decoration: none;
      color: unset !important;
    }

    &:last-of-type {
      margin-block-end: 0;
    }
  }

  .level-primary & {
    min-height: calc(var(--space-2xl-3xl) * pow(var(--line-height), 3));
  }

  .level-secondary & {
    min-height: calc(var(--space-2xl-3xl) * 1);
  }
}

#primary-nav {
  --item-padding: var(--space-2xs-xs);

  ul {
    list-style: none;
    /* margin: 0; */
    padding: 0;
    display: flex;
    gap: 0;
    font-size: var(--step--1);
  }

  li {
    &:first-child {
      margin-inline-start: calc(var(--item-padding) * -1);
    }
  }

  sl-icon-button {
    color: white;
    font-size: var(--step-2);

    &:hover {
      color: white;
    }
  }

  ul a[href] {
    color: white !important;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.2s var(--ease-1);
    padding: var(--item-padding);

    &:where(:hover, .active, .focus) {
      text-decoration: underline;
      opacity: 1;

      &:where(.active, :focus) {
        font-weight: var(--weight-semibold);
      }
    }
  }
}
