/* @link https://utopia.fyi/grid/calculator?c=320,18,1.2,1240,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --grid-max-width: 77.5rem;
  --grid-max-width: 57rem;
  --grid-gutter: var(--space-s-l,
      clamp(1.125rem, 0.6467rem + 2.3913vw, 2.5rem));
  --grid-columns: 12;

  --auto-2-cols: repeat(auto-fill, minmax(var(--auto-col-min, 290px), var(--auto-col-max, 1fr)));
}

.u-container {
  max-width: var(--grid-max-width);
  padding-inline: var(--grid-gutter);
  margin-inline: auto;
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

.with-sidebar main {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg, 2rem);

  &:has(aside) > .u-container {
    flex-shrink: 2;
  }
}

.with-sidebar main > aside {
  flex-grow: 1;
  max-width: 30%;
}

.with-sidebar main > :not(aside) {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: 50%;
}

:where(figure, pre, .over-margin) {
  margin-inline: calc(var(--grid-gutter) * -1);
}
