body {
  --pagefind-ui-primary: var(--ink);
  --pagefind-ui-text: var(--ink);
  --pagefind-ui-background: var(--paper);
  --pagefind-ui-border: var(--ink-subtle);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: var(--radius-2);
  --pagefind-ui-image-border-radius: var(--pagefind-ui-border-radius);
  --pagefind-ui-font: inherit;
}

.pagefind-ui__form {
  position: relative;
}
.pagefind-ui__drawer {
  outline: 1px dashed red;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
}

:global([data-svelte-typeahead]) {
  margin: 1rem;
}

