:where(table) {
  width: 100%;
  border-collapse: collapse;
  /* outline: 1px dashed red; */
  margin: var(--space-xl) 0;

  :where(tbody) {
    font-size: var(--step--1);
  }

  :where(th, td) {
    text-align: start;
    padding: var(--space-2xs);

    :where(tr > &) {
      border-block-end: 1px dotted var(--ink-subtle);
    }

    :where(tbody > tr:nth-child(odd) > &) {
      background-color: var(--paper-subtle);
    }
  }

  :where(th) {
    color: var(--brand-shade);
    font-family: var(--heading-font);
    font-weight: var(--weight-normal);
  }
}

