.sr-only {
  position: absolute !important;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.focus-only {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.focus-only:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

.toc-block {
  /* background: var(--paper-subtle); */
  border: 1px solid var(--paper-subtle);
  padding: 1rem;
  display: block;
  border-radius: var(--radius-2);

  summary {
    cursor: pointer;

    * {
      line-height: 1;
      margin: 0;
    }
  }
}

/* Reading progress meter */
@supports (animation-timeline: scroll(root)) {

  /* https://developer.mozilla.org/en-US/blog/scroll-progress-animations-in-css/ */
  :root:has(.h-entry) .progress {
    &::before {
      display: block;
      content: '';
      height: 0.7ch;
      background: var(--brand);
      /* border-block-end: 1px solid var(--ink-subtle); */
      position: fixed;
      z-index: var(--layer-3);
      top: 0;
      left: 0;
      width: 100%;
      transform-origin: 0 50%;
      animation:
        scaleProgress auto linear,
        colorChange auto linear;
      animation-timeline: scroll(root);
    }
  }

  @keyframes scaleProgress {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }

  @keyframes colorChange {
    0% {
      background-color: var(--accent);
    }

    33.333% {
      background-color: var(--accent-subtle);
    }

    66.666% {
      background-color: var(--brand-subtle);
    }

    100% {
      background-color: var(--brand);
    }
  }
}


@media screen {
  .print-only {
    display: none !important;
  }
}

@media print {
  .screen-only {
    display: none !important;
  }
}
