---
import Layout from "../../layouts/Layout.astro";
import { postTagsList, eachTag } from "../../utils/tags.reducer";

const tags = await postTagsList();
---

<Layout title={`Tags List`}>
  <h3>Post Tags</h3>
  <ul>
    {eachTag(tags, (tag, count) => (
      <li><a href={`/tags/${tag.toLowerCase()}`}>{tag}</a> ({count})</li>
    ))}
  </ul>
</Layout>
