---
import { settings } from "@/data/settings";
---

<html>
  <head>
    <title>404: Page not found - {settings.owner}</title>
  </head>
  <body>
    <div class="wrapper">
      <h1 class="message">
        <span class="code">404</span> Page not found
      </h1>
    </div>
  </body>
</html>

<style>
/* @import "modern-normalize"; */
@import "../styles/sizes.css";
@import "../styles/theme.css";

:root {
  background: var(--paper);
  color: var(--ink);
  font-family: -system-ui, sans-serif;
  
  &, * {
    box-sizing: border-box;
  }
}

.wrapper {
  margin: auto;
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.code {
  font-weight: 600;
  position: relative;
  color: var(--accent);

  &::after {
    content: '';
    position: relative;
    height: 1.2em;
    /* width: 1px; */
    line-height: 1;
    display: inline-block;
    border-inline-start: 0.075ch solid var(--ink-subtle);
    margin-inline: 0.6ch 0.15ch;
    bottom: -0.45ch;
    /* opacity: 0.75; */
  }
}
.message {
  font-weight: 100;
  font-size: var(--step-4);
  line-height: 1;
  /* text-transform: uppercase; */
}
</style>
