---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thanks for reaching out" searchable={false}>
  <h1>Thanks for reaching out!</h1>
  <p>I'll respond as soon as I can.</p>
</Layout>
