---
const {tags = []} = Astro.props;
---

{tags.length && (
  <div class="tags">
    <ul>
      <li>Tags:</li>
      {tags.map((tag) => (
      <li>
        <a class="p-category tag" href={`/tags/${tag}`}>#{tag}</a>
      </li>
    ))}</ul>
  </div>
)}

<style>
ul {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: inherit;
  display: flex;
  gap: 0.5ch;
  justify-content: flex-start;
  flex-wrap: wrap;

  li {
    font-size: inherit;

    &:not(:last-child):not(:first-child)::after {
      content: ',';
    }
  }
}
</style>
