---
const {tags = []} = Astro.props;
---

{tags.length && (
  <div class="tags">
    Tags: <ul>{tags.map((tag) => (
      <li>
        <a class="p-category tag" href={`/tags/${tag}`}>{tag}</a>
      </li>
    ))}</ul>
  </div>
)}

<style>
ul {
  padding: 0;
  list-style: none;
  display: inline;
  font-size: inherit;

  li {
    display: inline-block;
    font-size: inherit;

    &:not(:last-child)::after {
      content: ',';
      margin-inline-end: 0.3ch;
    }
  }
}
</style>
